{% extends 'base.html' %}

{% block body %}
<div class="text-center my-4">
    <h1><u>About Me</u></h1>
</div>
<div class="card" style="margin-left: 100px; margin-right: 100px;">
    <pre>

Dedicated and highly skilled Software Engineer with 2+ years of experience in designing and implementing software 
solutions. Proven track record of delivering high-quality code and collaborating with cross-functional teams to meet 
project goals. 
I thrive on tackling complex problems and turning them into elegant, efficient, and maintainable code.
Seeking a challenging Python development role to further enhance my expertise and contribute to innovative projects.

🔧 My Skills:
Programming Language(Python,SQL)
Web Development (Django, Flask)
Data Analysis (Pandas, NumPy)
Version Control (Git)

🚀 Let's Connect:
I'm open to networking, collaborating on exciting projects, or discussing all things on Python. Feel free to connect 
with me or drop a message to start a conversation!
</pre>
</div>
<br>
<br>
<br>

{% endblock body %}