{% extends 'base.html' %}

{% block body %}
<div class="text-center my-4">
<h1>
   <u>Education details</u>
</h1>
</div>
<div class="accordion accordion-flush my-4" style="margin-right: 100px; margin-left: 100px;" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Class 10th
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <li>School- Wisdom Public School</li>
            <li>Subjects- Science,Math</li>
            <li>CGPA- 8.2</li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Class 12th
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <li>School- Wisdom Public School</li>
            <li>Subjects- Physics,Chemistry,Maths</li>
            <li>Percentage- 65%</li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Graduation
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <li>College- GL Bajaj Institute of Technology and Management</li>
            <li>Branch- Electrical and electronics engineer</li>
            <li>Percentage- 74%</li>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>


{% endblock body %}

