{% extends 'base.html' %}

{% block body %}

<img src="/static/1.jpeg" class="rounded mx-auto d-block my-3" alt="...">
<div class="text-center">
    <h1>Mayank Singh Gawer</h1>
    <h2>(Software Engineer@Mphasis Ltd)</h2>
    <div class="card my-5" style="margin-left: 200px; margin-right: 200px;">
        <p>
            "Results-driven Software Engineer with 2+ years of experience in designing and implementing software
            solutions.
            Proven track record of delivering high-quality code and collaborating with cross-functional teams to meet
            project goals. Seeking a challenging Python development role to further enhance my expertise and contribute
            to
            innovative projects."
        </p>
    </div>
</div>
<br>
<br>
<br>
<br>


{% endblock body %}