{% extends 'base.html' %}

{% block body %}

<div class="text-center my-4">
    <h1><u>Professional Details</u></h1>
</div>
<div class="card my-5" style="margin-left: 200px; margin-right: 200px;">
    <div class="card-body">
        <li><b>Programming Languages:</b>Python,SQL</li>
        <li><b>Web Frameworks:</b>Flask,Django</li>
        <li><b>Database Management:</b>SQL,MySQL,MongoDB</li>
        <li><b>Version Control:</b>Git&GitHub</li>
        <li><b>Others:</b>RESTful API Development,Data Analysis and Visualization,Agile Software Development</li>
        <li><b>Non-Technical Skills:</b>Excellent Communication and Team Collaboration Skills</li>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock body %}